





body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
}
.text-font-size {

  font-size:23px;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#conocenos-btn,
#empresas-btn,
#particulares-btn,
#contacta-btn {
  top: -10px;
  position: relative;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.banner {
  width: 100%;
  background: url('../media/inmob-rect.jpg') no-repeat 100% center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.container-fluid {
  box-sizing: border-box;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 0 1.5rem 5rem 1.5rem;
}

@media only screen and (min-width: 480px) {
  .container-fluid {
    padding: 0 2rem 4rem 2rem;
  }
}

@media only screen and (min-width: 950px) {
  .container-fluid {
    padding-bottom: 4rem;
  }
}

.intro-text {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  opacity: 0;
}

@media only screen and (min-width: 480px) {
  .intro-text {
    font-size: 23px;
  }
}

@media only screen and (min-width: 950px) {
  .intro-text {
    font-size: 25px;
    padding: 0rem;
  }
}

.rem-0 {
  margin-top: 0!important;
}

.servicio,
.contacta {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 950px) {
  .servicio,
  .contacta {
    font-size: 30px;
    
  }
}

.map-rem {
  margin-top: 4rem!important;
}

.map img {
  max-width: 70%;
  text-align: center;
}

.adress {
  margin-top: 4rem!important;
}

.pic-text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

@media only screen and (min-width: 480px) {
  .pic-text {
    font-size: 35px;
  }
}

@media only screen and (min-width: 950px) {
  .pic-text {
    width: 90%;
    font-size: 45px;
  }
}

.text {
  font-size: 15px;
}

.text-destacados {
  opacity: 0;
  transition: opacity 1.5s 1.7s ease, transform 1.5s 1.7s ease;
  transform: translateY(45px);
}

.text-destacados-active {
  opacity: 1;
  transform: translateY(-5px);
}

@media only screen and (min-width: 480px) {
  .text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 950px) {
  .text {
    font-size: 21px;
  }
}


/*CUBS FULL WIDTH */
 .inmob-rect {
     background: url('../media/inmob-rect.jpg') no-repeat center; 
     background-size:cover;
    
    }
.inmob-rect:hover {
     background: url('../media/inmob-rect-color.jpg') no-repeat center;
     background-size:cover; 
    }

     .empresas-rect {
     background: url('../media/empresas-rect.jpg') no-repeat center; 
     background-size:cover;
    
    }
    .empresas-rect:hover {
     background: url('../media/empresas-rect-color.jpg') no-repeat center;
     background-size:cover; 
    }

     .admin-rect {
     background: url('../media/admin-rect.jpg') no-repeat center; 
     background-size:cover;
    
    }
   .admin-rect:hover {
     background: url('../media/admin-rect-color.jpg') no-repeat center;
     background-size:cover; 
    }

   .particulares-rect {
     background: url('../media/particulares-rect.jpg') no-repeat center; 
     background-size:cover;
    
    }
    .particulares-rect:hover {
     background: url('../media/particulares-rect-color.jpg') no-repeat center;
     background-size:cover; 
    }

.big-cube {
  width: 100%;
  position: relative;
}

.big-cube img {
  width: 100%;
  height: 225px;
}




@media only screen and (min-width: 480px) {
  .big-cube {
    height: 300px;
  }
  .big-cube img {
    height: 300px;
  }
}

@media only screen and (min-width: 950px) {
  .big-cube {
    height: 60vh;
  }
  .big-cube img {
    height: 60vh;
  }
}


/*CUBS PETITS IMATGES */


.cub-ctn>* {
  width: 48%;
  height: 160px;
  display: inline-block;
}

/*.cub-par {

     background: url('../media/particulares-scuared.jpg') no-repeat center;
     background-size:contain;
     position:relative;
     margin-right: 0!important;
     margin-bottom:0!important;
    }

.cub-d {
  position: relative;
  margin-right: 0!important;
  margin-bottom: 0!important;
}

.cub-d:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../media/particulares-scuared.jpg') no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
  margin-right: 0!important;
  margin-bottom: 0!important;
}

 .cub-d:hover:after{
     
       background: url('../media/particulares-scuared-color.jpg') no-repeat center; 
       background-size: contain;
       opacity:10;
     }*/


/*.cub-in {
    background: url('../media/inmob-scuared.jpg') no-repeat center;
     background-size:contain;
     position:relative;
     margin-right: 4%!important;
     margin-bottom:4%!important;
    }*/

/*.cub-a {
   background: url('../media/inmob-scuared.jpg') no-repeat center;
  background-size: contain;
  position: relative;
  margin-right: 4%!important;
  margin-bottom: 4%!important;
}

.cub-a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
 
}

.cub-a:hover:after{
     
       background: url('../media/inmob-scuared-color.jpg') no-repeat center; 
       background-size: contain;
       opacity:10;
     }*/

/*.cub-b {

    background: url('../media/empresas-scuared.jpg') no-repeat center;
     background-size:contain;
     position:relative;
     margin-right: 0!important;
     margin-bottom:4%!important;
    }

.cub-b {
  position: relative;
  margin-right: 0!important;
  margin-bottom: 4%!important;
}

.cub-b:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../media/empresas-scuared.jpg') no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}

   .cub-b:hover:after{
     
       background: url('../media/empresas-scuared-color.jpg') no-repeat center; 
       background-size: contain;
       opacity: 10;
     }


.cub-c {

      background: url('../media/admin-scuared.jpg') no-repeat center;
      background-size:contain;
      position:relative;
      margin-right: 4%!important;
     margin-bottom:0%!important;
    }
.cub-c {
  position: relative;
  margin-right: 4%!important;
  margin-bottom: 0%!important;
}

.cub-c:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../media/admin-scuared.jpg') no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

        .cub-c:hover:after{
     
       background: url('../media/admin-scuared-color.jpg') no-repeat center; 
       background-size: contain;
       opacity:10;
     }*/


@media only screen and (min-width: 480px) {
  .cub-ctn>* {
    width: 46%;
    height: 246px;
    display: inline-block;
  }
}

@media only screen and (min-width: 950px) {
  .cub {
    margin: 0!important;
  }
  .cub-ctn>* {
    width: 22%;
    height: 275px;
  }
  .cub-ctn>* {
    margin-top: 4rem;
  }
  .cub-in,
  .cub-em,
  .cub-ad {
    margin-right: 4%!important;
  }
}


/*CUBS IMPERSONALS*/


.cub-fix {
  opacity: 0;
  width: 100%;
  display: block;
  min-height:200px;
  padding:16px;
  margin-bottom:16px;
  min-height:240px;
}

@media only screen and (min-width: 480px) {
.cub-fix {
  opacity: 0;
  width: 45%;
  display: inline-block;
  overflow: hidden;
  float: left;
   
}

 .cub-fix:nth-of-type(1),
  .cub-fix:nth-of-type(3) {
    margin-right: 4%!important;
  }
}

@media only screen and (min-width: 1004px) {
  .cub-fix {
    opacity: 0;
    width: 22%;
    height: 275px;
    display: inline-block;
    margin-bottom:0;
    position: relative;
  }

   .cub-fix:nth-of-type(1),
   .cub-fix:nth-of-type(2),
  .cub-fix:nth-of-type(3) {
    margin-right: 4%!important;
  }

}


.iconi {
  width: 20%; 
  display:block;
  margin:16px auto;
}


.iconi.iconi-grande{
  width:30%;
}

.iconi.iconi-grua {
  width: 50%;
}

.iconi.iconi-alto{
  width:20%;
}

.iconi.iconi-llum{
 width: 38%;
}
.iconi.iconi-petit{
  width:29%;
}
.iconi.iconi-farola{
  width:9%;
}
@media only screen and (min-width: 1004px) {

  
.iconi {
  width: 43%;
  margin:0 auto;
}
.iconi {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
}


.cub-hover {
  overflow:hidden;
}

.cub-hover:hover > .iconi{

  transform:translate(-50%, -110%);
   transition: all 1s;
}

.cub-hover:hover > .text-movil{

  transform:translateY(110px);
    transition: all 1s;
}



.text-movil{
  transform:translateY(270px);
  font-weight: bold;
  font-size:18px;
  padding:10px;
  transition: all 1s;
}

}


.text-cub {
  font-weight: bold;
  display:block;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 1004px) {

.text-cub {
  width: 90%;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*transition: .5s;*/
  margin-top: 0!important;
  margin-bottom: 0!important;
}
}



  .cub-1,.cub-2,.cub-3,.cub-4 {
  background-color: rgb(230, 237, 247);
}


.cub {
  opacity: 0;
}

@media only screen and (min-width: 480px) {
  .cub {
    display: inline-block;
    width: 45%;
    margin: 0;
  }
}

@media only screen and (min-width: 950px) {
  .cub {
    width: 22%;
    margin: 1%;
  }
}

.cub-fix:nth-of-type(1) {
  animation-delay: 1.5s;
}

.cub-fix:nth-of-type(2) {
  animation-delay: 2s;
}

.cub-fix:nth-of-type(3) {
  animation-delay: 2.5s;
}

.cub-fix:nth-of-type(4) {
  animation-delay: 3s;
}

.cub-ctn .cub:nth-of-type(1) {
  animation-delay: .1s;
}

.cub-ctn .cub:nth-of-type(2) {
  animation-delay: .3s;
}

.cub-ctn .cub:nth-of-type(3) {
  animation-delay: .5s;
}

.cub-ctn .cub:nth-of-type(4) {
  animation-delay: .7s;
}

.section>* {
  margin-top: 3.5rem;
}


/* ES IMPORTANT, POSAR DIV-PARE A TOTES LES SECCIONS AMB UN ID, PENSA QUE NO AGAFA ELS NETS, LO QUAL ES BO*/

@media only screen and (min-width: 950px) {
  .section>* {
    margin-top: 4rem;
  }
}


.adress {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

@media only screen and (min-width: 480px) {
  .adress {
    font-size: 20px;
    opacity: 0;
  }
}

@media only screen and (min-width: 950px) {
  .adress {
    font-size: 25px;
  }
}

#footer {
  width: 100%;
  height: 100px;
  background: url('../media/logo-servius.png') no-repeat 90% center;
  background-color: #dddddd;
  background-size: 150px;
}

@media only screen and (min-width: 480px) {
  #footer {
    background-size: 200px;
  }
}

@media only screen and (min-width: 950px) {
  #footer {
    background-size: 250px;
  }
}

#scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.logo-blau {
  width: 160px;
  /*padding:1em;*/
  text-align: left;
  padding-bottom: 30px;
  opacity: 0;
}

@media only screen and (min-width: 950px) {
  .logo-blau {
    width: 200px;
  }
}


/*    HEADER BARRA - NAVEGADOR     */

.barra-nav {
  background-color: rgb(0, 70, 96);
  position: fixed;
  width: 100%;
  z-index: 9;
  opacity: 1;
  transition: all 0 .5s;
}

.barra-nav.barra-hidden {
  opacity: 0;
  z-index: -1;
}

ul.nav {
  width: 100%;
  list-style-type: none;
  font-size: 14px;
  display: none;
  margin: 0;
  padding-left: 0;
}

@media only screen and (min-width: 700px) {
  ul.nav {
    text-align: center;
    display: block!important;
    padding: 20px 0;
  }
}

ul.nav li {
  border-top: 1px solid #ffffff;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
	cursor: pointer;
}

@media only screen and (min-width: 700px) {
  ul.nav li {
    display: inline-block;
    margin-left: 17px;
    border: none;
    padding: 0;
  }
  ul.nav li:hover {
    /*color:rgb(0,146,183);*/
    text-decoration: underline;
  }
}

@media only screen and (min-width: 965px) {
  ul.nav li {
    font-size: 18px;
    padding: 0 15px;
  }
}


@media only screen and (min-width: 736px) {
  .text {
    padding: 0 2rem;
  }
}


/*********************************  *   k E F R A M E S    * **********************************************/


/*.fade-in{
      opacity: 0;
    }*/

.animated {
  transition: all 1s .3s ease-in-out;
}

.animated-slow {

   -webkit-transition: opacity 1.5s ease-in-out .4s;
   -moz-transition: opacity 1.5s ease-in-out .4s;
   transition: opacity 1.5s ease-in-out .4s;
    opacity: 0;
}


.contacta {
  opacity: 0;
  transition: all 1s .5s ease-in-out;
}

.map {
  opacity: 0;
  transition: all 1s 1s ease-in-out;
}

.adress {
  opacity: 0;
  transition: all 1s 1.5s ease-in-out;
}

.fade-in-active {
  opacity: 1;
}

.fade-in-half {
  opacity: .7;
}

.cub-active {
  animation-name: fade-in-steps;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.fade-in-up {
  /*opacity:1;*/
  animation-name: fade-in-up;
  animation-delay: .5s;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes fade-in-up {
  from {
    transform: translateY(10);
    opacity: 0;
  }
  to {
    transform: translateY(-55px);
    opacity: 1;
  }
}

@keyframes fade-in-steps {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes flipInX {
  from {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -140%) perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -140%) perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -140%) perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -140%) perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -140%) perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

.italic {
  font-style: italic;
}
 
 .img-responsive{
    background-color: rgba(255, 255, 255, 0.5)!important;
    opacity: .7;
    }
  
   @media only screen and (min-width: 965px) {
      .slide .img-ctn .img-responsive{
        min-height:600px;
          height: 100vh;
             }
}
/* pol is in da house */

.img-ctn {
  position: relative;
  width: 100%;
}

.img-title {
  font-size: 3rem;
  color: #000;
  text-transform: uppercase;
}


.img-title,
.logo-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 999999;
}

@media only screen and (min-width: 640px) {
  .img-title {
    display: block;
  }
}

.logo-banner {
  display: none!important;
}

@media only screen and (min-width: 640px) {
  .logo-banner {
    display: block!important;
    max-width: 450px;
  }
}

@media only screen and (min-width: 950px) {
  .logo-banner {
    max-width: 450px;
  }
}

.burger {
  background-color: rgb(0, 70, 96);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
}

.bm-menu-wrap {
  top: 0;
}


/* Position and sizing of burger button */

.bm-burger-button {
  width: 26px;
  height: 20px;
  position: relative;
}


/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #fff;
}


/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}


/* Color/shape of close button cross */

.bm-cross {
  background: #fff;
}


/* General sidebar styles */

.bm-menu {
  background-color: rgb(0, 70, 96);
}


/* Wrapper for item list */

.bm-item-list {
  color: #fff;
}


/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 1;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}

.carousel .control-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  content: '';
}

.carousel .control-disabled.control-arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: none;
}

.carousel .control-prev.control-arrow {
  left: 0;
}

.carousel .control-prev.control-arrow:before {
  width: 27px;
  height: 44px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23444444'%2F%3E%3C%2Fsvg%3E");
  background-size: 20px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 678px) {
  .carousel .control-prev.control-arrow:before {
  background-size: 27px 44px;
 
}
}

.carousel .control-next.control-arrow {
  right: 0;
}

.carousel .control-next.control-arrow:before {
  width: 27px;
  height: 44px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23444444'%2F%3E%3C%2Fsvg%3E");
  background-size: 20px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 678px) {
    .carousel .control-next.control-arrow:before { 
  background-size:27px 44px;
 
}
}

.carousel {
  position: relative;
  width: 100%;
}

.carousel * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel button {
  outline: 0;
  border: 0;
  background: none;
}

.carousel img {
  width: 100%;
  display: inline-block;
}

.carousel .carousel {
  position: relative;
}

.carousel .control-arrow {
  top: 50%;
  margin-top: -13px;
  font-size: 18px;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #000;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}

.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  -webkit-transition: height 0.15s ease-in;
  -moz-transition: height 0.15s ease-in;
  -ms-transition: height 0.15s ease-in;
  -o-transition: height 0.15s ease-in;
  transition: height 0.15s ease-in;
}

.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel .slider-wrapper.axis-vertical {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.carousel .slider-wrapper.axis-vertical .slider {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.carousel .slider {
  position: relative;
  list-style: none;
  width: 100%;
}

.carousel .slider.animated {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: #000;
}

@media (min-width:640px) {
  .carousel .control-dots {
    bottom: 0;
  }
}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
}

.carousel .slide iframe {
  display: inline-block;
  width: calc(100% - 80px);
  margin: 0 40px 40px;
  border: 0;
}

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

.carousel .control-dots .dot {
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 0.6;
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  opacity: 1;
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  color: #fff;
}

.carousel:hover .slide .legend {
  opacity: 1;
}

.cub-a{
  background:url("../media/inmob-scuared.jpg") no-repeat center center;
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

  .cub-a:hover{
     
       background: url('../media/inmob-scuared-color.jpg') no-repeat center; 
       background-size: cover;
       opacity:10;
     }

.cub-b{
  background:url("../media/empresas-scuared.jpg") no-repeat center center;
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

  .cub-b:hover{
     
       background: url('../media/empresas-scuared-color.jpg') no-repeat center; 
       background-size: cover;
       opacity:10;
     }
.cub-c{
  background:url("../media/admin-scuared.jpg") no-repeat center center;
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

  .cub-c:hover{
    
       background: url('../media/admin-scuared-color.jpg') no-repeat center; 
       background-size: cover;
       opacity:10;
     }

.cub-d{
  background:url("../media/particulares-scuared.jpg") no-repeat center center;
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
  .cub-d:hover{
     
       background: url('../media/particulares-scuared-color.jpg') no-repeat center; 
       background-size: cover;
       opacity:10;
     }